@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
a:hover{
    color: darkorange;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color:darkorange; 
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 20px;           
  background: white;             
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #f47c1f;  
}
.menu-bar{
  
   list-style: none;
  display: flex;
   width: 60%;
justify-content: space-around;
}
.menu-bar li {
    font-size: 20px;
}
.navbar-menu {
    display: none;
    
}
@media (max-width: 1024px) {
    .navbar {
        display: none;
    }
    .navbar-menu {
    display: flex;
}
.hamburger {
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   position: fixed;
   right: 30px;
   top: 20px;
}
.hamburger i {
    font-size: 35px;
    padding: 4px;
    cursor: pointer;
}
.navbar-menu .logo {
   margin-top: 20px;
   padding: 30px ;
}
.navbar-menu .menu-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: darkorange;
    right: -700px; 
    top: 70px;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    transition: right 0.3s ease;
}


.navbar-menu .menu-bar.show {
    right: 0;
}


.navbar-menu .menu-bar li {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}
}
@media (max-width: 767px) {
    .logo {
        text-wrap: nowrap;
    }
    .navbar-menu .logo {
   margin-top: 20px;
   padding: 10px ;
   font-size: 25px;
   margin-top: 25px;
}
}